body {
  font-family: "Courier New", Courier, monospace;
}
a {
  font-family: sans-serif;
  font-size: 12px;
}
span {
  font-size: 20px;
  font-weight: bold;
}
form {
  text-align: center;
  margin: 50px;
}
input[type="url"] {
  padding: 10px;
  margin: 0 20px;
  width: 40%;
  background-color: #dddddd;
}
input[type="submit"] {
  background-color: #06113c;
  color: #dddddd;
  padding: 8px 30px;
  border: 0px;
  /* border-radius: 3px; */
  font-size: 20px;
  border: 1px solid #06113c;
}
article {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 70%;

  margin: auto;
}
.rssfeed {
  border: 1px solid #06113c;
  background-color: #dddddd;
  padding: 10px;
}
